<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12 mt-4">
<h1>Tracking</h1>
    </div>
    <div class="col-md-8 mt-4">
      <input type="text" class="form-control" id="search-section" placeholder="Buscar por nombre">
    </div>
    <div class="col-md-4 mt-4">
      <button class="btn btn-primary" type="button">Buscar</button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
        aria-controls="collapseExample">
        Filtros
      </button>
    </div>
    <div class="col-md-12 mt-2">
      <div class="collapse" id="collapseExample">
        <div class="card card-body" style="border: 0;">
          FILTROS AVANZADOS
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mt-2">
      <nav class="nav bg-light flex-column">
        <a class="nav-link">Abiertos</a>
        <a class="nav-link">En progreso</a>
        <a class="nav-link">Cerrados</a>
        <a class="nav-link">Cancelados</a>
      </nav>
    </div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 table-responsive">
            <table class="table table-hover table-bordered mt-2">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>First</th>
                  <th>Last</th>
                  <th>Email</th>
                  <th class="text-center" style="width: 10%;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr onclick="openTracking('seg1');">
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>mark.otto@mail.com</td>
                  <td class="text-center">
                    <div class="dropdown show">
                      <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="5" style="padding: 0; width: 10%;">
                    <div class="collapse" id="seg1">
                      <div class="card card-body detalle-seguimiento" style="border-radius: 0;">
                        DETALLE DEL SEGUIMIENTO 1
                      </div>
                    </div>
                  </td>
                </tr>
                <tr onclick="openTracking('seg2');">
                    <td>2</td>
                    <td>Edward</td>
                    <td>Walter</td>
                    <td>edward.walter@mail.com</td>
                    <td class="text-center">
                      <div class="dropdown show">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" style="padding: 0; width: 10%;">
                      <div class="collapse" id="seg2">
                        <div class="card card-body detalle-seguimiento" style="border-radius: 0;">
                          DETALLE DEL SEGUIMIENTO 2
                        </div>
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12 text-right mb-5">
            <button class="btn btn-outline-primary">Anteriores</button>
            <button class="btn btn-outline-primary">Siguientes</button>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <h6>
    Estado del sistema
  </h6>
</nav>
