<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1>Scheduler</h1>
    </div>
    <div class="col-md-8 mt-4">
      <input type="text" class="form-control" id="search-section" placeholder="Buscar por nombre">
    </div>
    <div class="col-md-4 mt-4">
      <button class="btn btn-primary" type="button">Buscar</button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
        aria-controls="collapseExample">
        Filtros
      </button>
    </div>
    <div class="col-md-12 mt-2">
      <div class="collapse" id="collapseExample">
        <div class="card card-body" style="border: 0;">
          FILTROS AVANZADOS
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mb-5">
      <div id="calendar"></div>
    </div>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <h6>
    Estado del sistema
  </h6>
</nav>
