<div class="container">
    <div id="jstree">
        <!-- in this example the tree is populated from inline HTML -->
        <ul>
          <li>Root node 1
            <ul>
              <li id="child_node_1">Child node 1</li>
              <li>Child node 2</li>
            </ul>
          </li>
          <li>Root node 2</li>
        </ul>
      </div>
      <button>demo button</button>
      <script src="../../../assets/treejs/jstree.min.js"></script>


<script>
  $(function () { $('#jstree_demo_div').jstree(); });
  $('#jstree_demo_div').on("changed.jstree", function (e, data) {
  console.log(data.selected);
});
$('button').on('click', function () {
  $('#jstree').jstree(true).select_node('child_node_1');
  $('#jstree').jstree('select_node', 'child_node_1');
  $.jstree.reference('#jstree').select_node('child_node_1');
});
</script>
